server:
  port: 9072

spring:
  application:
    name: plantory-api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: member-service
              uri: ${MEMBER_SERVICE_URI:http://localhost:9001}
              predicates:
                - Path=/api/**
