server:
  port: 9072

spring:
  application:
    name: plantory-api-gateway

  config:
    import: "optional:configserver:${CONFIG_SERVER_URL:http://localhost:9888}"

services:
  member:
    base-url: ${MEMBER_SERVICE_URI:http://localhost:9001}

